$amarillo:#F9B200;
$negro:#000000;
$back:#292929;
$gris-oscuro:#1C1E23;
$gris:#222429;
$gris-claro:#2B2D31;
$gris-extraclaro:#4B4C4E;
$gris-light: #797a7a;
$gris-10: #b8b8b8;
$blanco:#FFFFFF;
$primario:$amarillo;
$secundario:$gris-oscuro;
