$amarillo:#F9B200;
$negro:#000000;
$back:#292929;
$gris-oscuro:#1C1E23;
$gris:#222429;
$gris-claro:#2B2D31;
$gris-extraclaro:#4B4C4E;
$gris-light: #797a7a;
$gris-10: #b8b8b8;
$blanco:#FFFFFF;
$primario:$amarillo;
$secundario:$gris-oscuro;

$border-radius:15px;
$border-radius30:30px;
$border-lg:5px;
$border-md:10px;
$border-xl:15px;

$teko:'Teko', sans-serif;
$teko-light:300;
$teko-medium:400;
$teko-bold:700;

$teko-h1:30px;
$teko-h2:20px;

$rubik:'Rubik', sans-serif;
$rubik-light: 300;
$rubik-medium: 400;
$rubik-bold: 700;


