@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Teko:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  background-image: url(../media/bg-body.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
}

body h1 {
  font-family: "Teko", sans-serif;
  color: #F9B200;
  font-size: 54px;
  line-height: 48px;
}

body h2 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #F9B200;
  text-transform: uppercase;
  letter-spacing: -1px;
}

body h3 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -.5px;
}

body h4 {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -.2px;
}

body h5 {
  font-size: 14px;
  line-height: 24px;
}

body p {
  font-family: 400;
  color: #797a7a;
}

#menu .active {
  color: #F9B200;
}

#menu .nav-item {
  font-family: "Teko", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

#slider {
  padding-top: 62px;
}

#slider .carousel-control-next, #slider .carousel-control-prev {
  width: 4%;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0px;
}

#servicios {
  background-color: #1C1E23;
  background-image: url(../media/patternServicios.png);
}

#servicios .boton {
  background-color: #1C1E23;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 2s;
  transition: 2s;
}

#servicios .text-btn {
  font-family: "Teko", sans-serif;
  color: #F9B200;
  font-size: 26px;
  line-height: 80%;
}

#servicios svg {
  width: 70px;
  height: 70px;
  fill: #F9B200;
}

#servicios .boton:hover {
  background-color: #F9B200;
}

#servicios .boton:hover svg {
  fill: #1C1E23;
}

#servicios .boton:hover p {
  color: #1C1E23;
}

#emergencias {
  background-color: #F9B200;
}

#emergencias .card-body {
  border: 0cm;
}

#emergencias .sos {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#emergencias .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .wa {
    display: none;
  }
  .sos {
    margin-top: 15px;
  }
  .sos p {
    font-size: 26px;
  }
  .sos img {
    width: 60px;
    margin: 0px;
  }
}

#novedades {
  background-color: #F9B200;
  margin-top: 20px;
  border-radius: 10px;
}

#destacados {
  background-color: #FFFFFF;
  margin-top: 20px;
  border-radius: 10px;
}

#destacados .card, #destacados .card-negro, #destacados .card-gris {
  width: 100%;
  border-radius: 10px;
  border: none;
}

#destacados .card img, #destacados .card-negro img, #destacados .card-gris img {
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

#destacados img {
  filter: gray;
  -webkit-filter: grayscale(1);
}

#destacados img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

#destacados svg {
  fill: #F9B200;
}

#destacadosServiciosMenu {
  margin-top: 72px;
  background-color: #1C1E23;
  border-radius: 10px;
}

#destacadosServiciosMenu .cardServicios {
  background-color: #2B2D31;
  border-radius: 10px;
  margin: 16px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#destacadosServiciosMenu .cardServiciosActive {
  background-color: #F9B200;
  border-radius: 10px;
  margin: 16px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#destacadosServiciosMenu .cardServiciosActive svg {
  fill: #1C1E23;
}

#destacadosServiciosMenu .cardServiciosActive h3 {
  color: #1C1E23;
}

#destacadosServiciosMenu a {
  text-decoration: none;
}

#destacadosServiciosMenu svg {
  fill: #F9B200;
}

#destacadosServiciosMenu h3 {
  font-family: "Teko", sans-serif;
  font-size: 26px;
  color: #F9B200;
  line-height: 24px;
}

#destacadosServiciosMenu .ornamento {
  position: absolute;
  bottom: -2px;
}

#destacadosServiciosMenu .cardServicios {
  -webkit-transition: 1s;
  transition: 1s;
}

#destacadosServiciosMenu .btn:hover {
  background-color: #F9B200;
}

#destacadosServiciosMenu .btn:hover svg {
  fill: #1C1E23;
}

#destacadosServiciosMenu .btn:hover h3 {
  color: #1C1E23;
}

#destacadosServiciosMenu .card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 0px;
}

#destacadosServicios {
  background-color: #1C1E23;
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
}

#destacadosServicios .cardServicios {
  background-color: #2B2D31;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#destacadosServicios .ornamento {
  position: absolute;
  bottom: -2px;
}

#destacadosServicios a {
  text-decoration: none;
}

#destacadosServicios svg {
  fill: #F9B200;
}

#destacadosServicios h3 {
  font-family: "Teko", sans-serif;
  font-size: 26px;
  color: #F9B200;
  line-height: 24px;
}

#destacadosServicios .cardServicios {
  -webkit-transition: 1s;
  transition: 1s;
}

#destacadosServicios .btn:hover {
  background-color: #F9B200;
}

#destacadosServicios .btn:hover svg {
  fill: #1C1E23;
}

#destacadosServicios .btn:hover h3 {
  color: #1C1E23;
}

#destacadosServicios .card, #destacadosServicios .card-negro, #destacadosServicios .card-gris {
  border: none;
}

#destacadosServicios .card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 0px;
}

#destacadosServicios .row {
  margin-right: 0px;
  margin-left: 0px;
}

#sitad {
  background-color: #1C1E23;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

#sitad .card, #sitad .card-negro, #sitad .card-gris {
  width: 100%;
  border-radius: 10px;
  border: none;
}

#trabajos {
  background-color: #FFFFFF;
  margin-top: 10px;
  border-radius: 10px;
}

#trabajos .card, #trabajos .card-negro, #trabajos .card-gris {
  width: 100%;
  border-radius: 10px;
  border: none;
}

#trabajos .card img, #trabajos .card-negro img, #trabajos .card-gris img {
  border-radius: 10px;
}

#trabajos .cerrar {
  text-align: end;
  padding: 10px;
}

.btn-link {
  color: #F9B200;
}

.modal-footer {
  border-top: none;
}

.btn-link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#footer {
  background-color: #1C1E23;
  background-image: url(/media/footer-bg.png);
}

#footer .social a {
  color: #F9B200;
  margin: 0 5px;
  font-size: 16pt;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#footer .social a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .social a:hover {
  color: #2B2D31;
}

#footer .tel i {
  color: #1C1E23;
  font-size: 20px;
}

#footer .asistencia {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #F9B200;
  font-size: 20px;
  line-height: 1.1;
}

#footer .asistenciaTel {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #F9B200;
  font-size: 30px;
  line-height: 1;
}

#footer .fa-phone {
  background-color: #F9B200;
  color: #1C1E23;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

#footer .table td, #footer .table th {
  border-top: none;
}

#copy {
  background-color: #F9B200;
}

#copy h5 {
  color: #797a7a;
}

.wa a img {
  width: 90px;
  position: fixed;
  bottom: 200px;
  right: 0px;
}

/*TEXTOS EN RUBIK*/
.titulo-rubik-negro {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.subtitulo-rubik-negro {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.parrafo-rubik-negro {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.parrafo-rubik-blanco {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.parrafo-rubik-amarillo {
  font-size: 16px;
  font-weight: 400;
  color: #F9B200;
}

.parrafo-rubik-footer {
  font-size: 14px;
  font-weight: 300;
  color: #b8b8b8;
}

/*TEXTOS EN TEKO*/
.titulo-teko-negro, .titulo-teko-negro--xl, .titulo-teko-negro--lg {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}

.titulo-teko-amarillo, .titulo-teko-amarillo--xl {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #F9B200;
}

.titulo-teko-footer {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #F9B200;
}

.titulo-teko-blanco {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

.titulo-teko-amarillo--xl {
  font-size: 48px;
}

.titulo-teko-negro--xl {
  font-size: 48px;
}

.titulo-teko-negro--lg {
  font-size: 32px;
}

/*BACKGROUND-COLOR*/
.bg-amarillo {
  background-color: #F9B200;
}

.bg-gris {
  background-color: #1C1E23;
}

.bg-claro {
  background-color: #2B2D31;
}

.card, .card-negro, .card-gris {
  background-color: #FFFFFF;
}

.card-negro {
  background-color: #000000;
}

.card-gris {
  background-color: #1C1E23;
}

/*BORDES*/
.brd-m, .brd-m--bottom {
  border-radius: 10px;
}

.brd-m--bottom {
  border-bottom: 15px;
}

.text-size- {
  font-family: "Teko", sans-serif;
}

/*BOUCLES*/
.text-size-2 {
  font-size: 8px;
}

.text-size-3 {
  font-size: 12px;
}

.text-size-4 {
  font-size: 16px;
}

.text-size-5 {
  font-size: 20px;
}

.text-size-6 {
  font-size: 24px;
}

.text-size-7 {
  font-size: 28px;
}

.text-size-8 {
  font-size: 32px;
}

.text-size-9 {
  font-size: 36px;
}

.text-size-10 {
  font-size: 40px;
}

.lineH25 {
  line-height: 25px;
}

.lineH26 {
  line-height: 26px;
}

.lineH27 {
  line-height: 27px;
}

.lineH28 {
  line-height: 28px;
}

.lineH29 {
  line-height: 29px;
}

.lineH30 {
  line-height: 30px;
}

.lineH31 {
  line-height: 31px;
}

.lineH32 {
  line-height: 32px;
}

.lineH33 {
  line-height: 33px;
}

.lineH34 {
  line-height: 34px;
}

.lineH35 {
  line-height: 35px;
}

/*EACH-SIZE*/
.font-size-small {
  font-size: 12px;
}

.font-size-medium {
  font-size: 14px;
}

.font-size-regular {
  font-size: 16px;
}

.font-size-large {
  font-size: 20px;
}

/*MAPS WEIGHT*/
.font-size-light {
  font-weight: 300;
}

.font-size-medium {
  font-weight: 400;
}

.font-size-bold {
  font-weight: 700;
}

/*MAPS BORDER-RADIUS*/
.border-small {
  border-radius: 5px;
}

.border-medium {
  border-radius: 10px;
}

.border-large {
  border-radius: 15px;
}

/*BOUCLE MARGIN-TOP*/
.mtop-1 {
  margin-top: 1px;
}

.mtop-2 {
  margin-top: 2px;
}

.mtop-3 {
  margin-top: 3px;
}

.mtop-4 {
  margin-top: 4px;
}

.mtop-5 {
  margin-top: 5px;
}

/*BOUCLE MARGIN-BOUTTOM*/
.mtop-1 {
  margin-bottom: 1px;
}

.mtop-2 {
  margin-bottom: 2px;
}

.mtop-3 {
  margin-bottom: 3px;
}

.mtop-4 {
  margin-bottom: 4px;
}

.mtop-5 {
  margin-bottom: 5px;
}
/*# sourceMappingURL=estilos.css.map */